<?xml version="1.0" encoding="UTF-8"?>
<config>
  <businessLogic local="false"> 
	<businessLogicNode>10.110.86.222</businessLogicNode><!-- 10.110.86.222 -->
	<businessLogicPort>1099</businessLogicPort>
	<businessLogicName>Bets</businessLogicName>
  </businessLogic>
  <database local="true">
	<databaseNode>0.0.0.0</databaseNode>
	<dbFilename>resources/bets.temp</dbFilename>
	<dataBaseOpenMode>open</dataBaseOpenMode>
	<databasePort>6136</databasePort>
	<user>admin</user>
	<password>admin</password>
  </database>
  <locale>en</locale>
</config>